<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lulu.tuyou">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 在Receiver中弹出Dialog的权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".TuYouApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 高德地图服务 -->
        <service android:name="com.amap.api.location.APSService"/>
        <!-- 高德地图的APPkey -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6fb613e94da3a60314b239017ebcd480"/>

        <!-- 实时通信模块、推送（均需要加入以下声明） START -->
        <!-- 实时通信模块、推送都要使用 PushService -->
        <service android:name="com.avos.avoscloud.PushService"/>

        <!-- push用 -->
        <service android:name="com.avos.avoscloud.PushService"/>

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- 实时通信模块、推送 END -->

        <activity android:name=".MainActivity">
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.TuYouActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/TuYouActivityTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".view.AttentionActivity"
            android:parentActivityName=".view.TuYouActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.RegisterActivity">
        </activity>

        <receiver android:name=".receiver.HiReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.avos.UPDATE_STATUS"/>
                <action android:name="com.tuyou.push.request"/>
                <action android:name="com.tuyou.push.response"/>
            </intent-filter>
        </receiver>

        <!-- 适配Android 7.0获取Uri -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lulu.tuyou.view.CircleMenuDialog"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".view.CircleImageActivity">
        </activity>
    </application>

</manifest>